
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Khand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manuale', serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.header {
    min-width: 100vw;
    width: 90%;
    height: 75vh;
    margin: auto;
    background: url("../images/Pep/pep_landing.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 20px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul img {
    cursor: pointer;
}

nav ul li a {
    text-decoration: none !important;
    color: black !important;
    font-weight: bold;
    transition: 0.3s ease;
}

nav ul li a:hover {
    text-decoration: none;
    color: #EB6B57;
    cursor: pointer;
    font-weight: 500;
}

nav ul li {
    margin-left: 1.5vw;
}

i.fa.fa-search {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}
i.fa.fa-bars {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 35px;
    display: none;
    cursor: pointer;
}


@media only screen and (max-width:800px) {
    body {
        overflow-x: hidden;
    }

    nav {
        flex-direction: column;
        position: relative;
        z-index: 888;
    }

    i.fa.fa-bars {
        font-size: 25px;
    }

    .container {
        transform: translateY(-150%);
        height: 75vh;
    }

    #ulid {
        display: none;
        transition: 0.5s ease;
        padding-top: 5vh;
        padding-bottom: 0vh;
        background: white;
        width: 120%;
        margin: 0;
    }

    #ulid li {
        text-align: center;
    }

    #ulid1 {
        background: white;
        width: 120%;
        display: none;
    }

    nav ul li a {
        font-size: 1.0em;
    }

    #sol {
        margin: 20px 0;
        font-size: 2.0em;
    }

    #indus {
        margin: 20px 0;
        font-size: 2.0em;

    }

    #Digital {
        margin: 20px 0;
        font-size: 2.0em;

    }

    #Why {
        margin: 20px 0;
        font-size: 2.0em;

    }

    #Perspectives {
        margin: 20px 0;
        font-size: 2.0em;

    }

    #contact {
        font-size: 2.0em;
        margin-left: -15px;

    }

    i.fa.fa-search {
        display: none;
    }

    i.fa.fa-bars {
        display: block;
    }

    #nav2 {
        padding-top: 0px;
        text-align: center;
        width: 120%;
        margin-top: -1px;
        font-size: 30px;
    }
}


/* ------------Solution-Navbar-------------------- */
.containerA {
    background: #FFFFFF;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;

}

.containerA h1 {
    color: #000000;
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 10vw;
}

i.fa.fa-times {
    position: absolute;
    right: 2vw;
    top: 3vh;
    color: #000000;
    font-size: 30px;
    transition: 0.5s ease-in-out;
}

i.fa.fa-times:hover {
    color: #c9c9c9;
    cursor: pointer;
}

.rows {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

.row1 ul {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #000000;
    border-radius: 2px;
    padding-top: 15px;
    margin-top: 45px;
    margin-left: 20px;
}

.row1 ul li a {
    color: #000000;
}

.row2 ul {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #000000;
    border-radius: 2px;
    padding-top: 15px;
    margin-top: 45px;
    margin-left: 20px;
}

.row2 ul li a {
    color: #000000;
}

.pep_text {
    position: relative;
    top: 44vh;
    left: 1.5vw;
}

.pep_text h1 {
    font-size: 4em;
    font-weight: lighter;
    color: white;
    animation: left ease 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes left {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}


.headings {
    margin-top: 15px;
}

.headings a {
    color: black;
}

.headings h3 {
    display: inline-block;
    margin-left: 15px;
    transition: 0.3s ease;
}

.headings h3:hover {
    color: #EB6B57;
    cursor: pointer;
}

.headings img {
    width: 3vw;
    vertical-align: middle;
    margin-top: -2.5vh;
}

.service-box {
    overflow: hidden;
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.service-box h1 {
    font-size: 3em;
    margin-left: 15px;
    color: #EB6B57;
    text-align: center;
    font-weight: 800;
}
.analysis_head_1{
    font-family: 'Arvo', serif;
font-family: 'Khand', sans-serif;
margin-left: 10px;
margin-bottom: 20px;
}
.analysis_head_1 h3{
    color: #EB6B57;
}
.analysis_head_1 p{
font-weight: 800;
}
.About-box {
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.About-box h1 {
    font-size: 3em;
    margin-left: 15px;
    color: #EB6B57;
    text-align: center;
    font-weight: 800;
}

.About-box p {
    font-size: 1.35em;
    font-weight: 400;
    margin-left: 15px;
}

.service1 {
    text-align: center;
}

.service1 h1 {
    font-size: 2em;
}

.service1 p {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 15px;
}

.service2 {
    text-align: center;
}

.service2 h1 {
    font-size: 2em;
}

.service2 p {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 15px;
}

@media only screen and (max-width:800px) {
    .pep_text h1 {
        font-size: 2.5em;
        font-weight: 800;
    }
    .pep_text {
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%,-50%);
    }
    .headings h3 {
        font-size: 1.2em;
    }
    .headings img {
        width: 4vw;
        vertical-align: middle;
        margin-top: -4.5vh;
    }
    .service-box h1 {
        font-size: 2em;
    }
    .About-box h1 {
        font-size: 2.5em;
       overflow-y: hidden; 
       margin-top: 10px;
       padding-bottom: 20px;
    }
    .About-box p {
        padding: 10px 0;
    }
}